In [1]:
import pandas as pd

In [53]:
df = pd.read_excel(r"C:\Users\ivanr\PycharmProjects\VKR\4_курс\split_file_2.xlsx", header=None)
df.columns = df.iloc[1]
df = df.iloc[2:]
df

1,NaN,ИДБ-21-11,NaN,09.03.03-02,NaN,NaN,ИДБ-21-12,NaN,09.03.04
2,1,Алиев,Муса,Ясиф оглы,NaN,1,Бизюков,Роман,Сергеевич
3,2,Барышникова,Дарья,Александровна,NaN,2,Вишняков,Владимир,Владимирович
4,3,Вишневский,Феликс,Александрович,NaN,3,Воложенина,Валерия,Андреевна
5,4,Дебелов,Егор,Андреевич,NaN,4,Гребенюк,Сергей,Валентинович
6,5,Кабаев,Виктор,Алексеевич,NaN,5,Греку,Иван,Юрьевич
7,6,Карапетян,Карен,Рутикович,NaN,6,Жданов,Дмитрий,Алексеевич
8,7,Макарова,Маргарита,Александровна,NaN,7,Журавлев,Юрий,Витальевич
9,8,Табуев,Платон,Ролантович,NaN,8,Журавлева,Гелена,Вячеславовна
10,9,Шевяков,Виктор,Сергеевич,NaN,9,Захарова,Маргарита,Владимировна
11,10,Шундев,Кирилл,Михайлович,NaN,10,Клинова,Мария,Сергеевна
12,NaN,NaN,NaN,NaN,NaN,11,Кудряшова,Дарья,Сергеевна
13,NaN,NaN,NaN,NaN,NaN,12,Куликов,Дмитрий,Олегович
14,NaN,NaN,NaN,NaN,NaN,13,Малов,Роман,Игоревич
15,NaN,NaN,NaN,NaN,NaN,14,Милованов,Ярослав,NaN
16,NaN,NaN,NaN,NaN,NaN,15,Олейник,Алексей,Михайлович
17,NaN,NaN,NaN,NaN,NaN,16,Палагин,Егор,Александрович
18,NaN,NaN,NaN,NaN,NaN,17,Пантюшина,Елизавета,Юльевна
19,NaN,NaN,NaN,NaN,NaN,18,Порядин,Вячеслав,Сергеевич
20,NaN,NaN,NaN,NaN,NaN,19,Проценко,Максим,Олесевич
21,NaN,NaN,NaN,NaN,NaN,20,Теренин,Антон,Алексеевич
22,NaN,NaN,NaN,NaN,NaN,21,Шевкопляс,Дмитрий,Аркадьевич